@model meivorts.Models.TipoCompromisso

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TipoCompromisso</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NomeCompromisso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeCompromisso)
            @Html.ValidationMessageFor(model => model.NomeCompromisso)
        </div>
        <p>
            <input type="submit" value="Adicionar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("voltar", "Index")
</div>
