@model IEnumerable<meivorts.Models.TipoCompromisso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="col-lg-12">
    <p>
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "tipocompromisso", new { id = 0 })'">Novo</button>
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeCompromisso)
                </th>
                <td align="right">Editar Excluir</td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCompromisso)
                    </td>
                    <td align="right">
                        <button class="glyphicon glyphicon-pencil" type="button" onclick="location.href='@Url.Action("Create", "tipocompromisso", new { id = item.ID })'"></button>
                        <button class="glyphicon glyphicon-trash" name="Excluir" type="button" onclick="location.href='@Url.Action("Delete", "tipocompromisso", new { id = item.ID })'"></button>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
