@model IEnumerable<meivorts.Models.Contato>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="col-lg-12">
    <p>
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "contato", new { id = 0 })'">Novo</button>
    </p>
    <legend>Contatos</legend>
    <div class="table-responsive" >
        <table class ="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Facebook)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Twitter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoContato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCriacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataAlteracao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Excluido)
                </th>
                <td align="right"><b>Editar Excluir</b></td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facebook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Twitter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoContato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCriacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAlteracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Excluido)
                    </td>
                    <td align="right">
                        <button class="glyphicon glyphicon-pencil" type="button" onclick="location.href='@Url.Action("Create", "tipocontato", new { id = item.ID })'"></button>
                        <button class="glyphicon glyphicon-trash" name="Excluir" type="button" onclick="location.href='@Url.Action("Delete", "tipocontato", new { id = item.ID })'"></button>
                    </td>
                </tr>
            }

        </table>
    </div>